{% load static %}
<link rel="stylesheet" href="{% static 'css/ABOUT.css' %}" media="screen">

<section class="u-clearfix u-container-align-center u-white u-section-3" id="sec-f35b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-19 u-size-60-md">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-similar-fill u-size-60 u-layout-cell-1">
                                <div class="u-container-layout u-valign-top u-container-layout-1">
                                    <img class="u-expanded-width u-image u-image-1" imgwidth="350" imgheight="436"
                                         src="https://images.unsplash.com/photo-1570224655844-8a0aa51cebdf?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w1NzgzNjl8MHwxfGNvbGxlY3Rpb258MTV8NDcwMDE3OXx8fHx8Mnx8MTcyNTQwMTU0MXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-41 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-size-40">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-right-cell u-similar-fill u-size-60 u-layout-cell-2">
                                        <div class="u-container-layout u-valign-top u-container-layout-2">
                                            <h4 class="u-text u-text-black u-text-1">Find Financial Assistance</h4>
                                            <blockquote
                                                    class="u-border-2 u-border-custom-color-3 u-text u-text-black u-text-2">
                                                "I was able to give wisely and generously through the United Methodist
                                                Foundation of Michigan.” - Owen S.
                                            </blockquote>
                                            <p class="u-text u-text-font u-text-3">Signing up with us opens the door to
                                                a wide array of assistance, including grants, donations, loans, and job
                                                listings. Create an account today to unlock the full potential of our
                                                platform and take the first step toward achieving your goals.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-similar-fill u-size-29 u-layout-cell-3">
                                        <div class="u-container-layout u-valign-top u-container-layout-3">
                                            <h4 class="u-text u-text-4">Unlock Grant Opportunities</h4>
                                            <h5 class="u-text u-text-5">Apply for Grants Now</h5>
                                            <a href="#" class="u-btn u-button-style u-custom-color-3 u-btn-1">learn
                                                more</a>
                                        </div>
                                    </div>
                                    <div class="u-container-style u-layout-cell u-right-cell u-similar-fill u-size-31 u-layout-cell-4">
                                        <div class="u-container-layout u-valign-top u-container-layout-4">
                                            <img class="u-image u-image-contain u-image-2" imgwidth="107" imgheight="52"
                                                 src="{% static 'images/photo-1519511553349-1a39df983373.jpeg' %}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section
        class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-custom-color-3 u-section-4"
        data-image-width="2000" data-image-height="1333" id="sec-ec9a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-20 u-size-30-md">
                        <div class="u-layout-col">
                            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                                <div class="u-container-layout u-valign-top u-container-layout-1">
                                    <h3 class="u-text u-text-default u-text-1">Contact Us</h3>
                                    <p class="u-text u-text-2">Looking for financial assistance? Explore our grant
                                        opportunities to support your projects and initiatives.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-20 u-size-30-md">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-size-60 u-image-1"
                                 src="">
                                <div class="u-container-layout u-valign-top u-container-layout-2" src=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-20 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-3">
                                    <h3 class="u-text u-text-default u-text-3">Quick Links</h3>
                                    <ul class="u-text u-text-4">
                                        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-5 u-btn-1"
                                           href="#">The Hope Scholarship</a>
                                    </ul>
                                    <ul class="u-text u-text-5">
                                        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-5 u-btn-2"
                                           href="#">Donate</a>
                                    </ul>
                                    <p class="u-text u-text-6">
                                        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-5 u-btn-3"
                                           href="#">Free Wills Guide</a>
                                    </p>
                                    <p class="u-text u-text-7">
                                        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-5 u-btn-4"
                                           href="#">Ways to invest in Us</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
